@model PruebaPrimeStone.Web.Models.EstudianteModel
@{
    ViewData["Title"] = "Nuevo Estudiante";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">

    @using (Html.BeginForm("Nuevo", "Estudiante", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "red" })
        @Html.LabelFor(m => m.Edad)
        @Html.TextBoxFor(m => m.Edad, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Edad, null, new { @class = "red" })
        @Html.LabelFor(m => m.Telefono)
        @Html.TextBoxFor(m => m.Telefono, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Telefono, null, new { @class = "red" })
        <hr />
        <div>
            <input type="submit" class="btn btn-success" value="Guardar" />
        </div>
    }

</div>