@model List<PruebaPrimeStone.Web.Models.EstudianteModel>

@{
    ViewData["Title"] = "Obtener Estudiantes";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <table class="table">
        <tr>
            <th>IDEstudiante</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Acción</th>
        </tr>
        @foreach (var estudiante in Model)
        {
            <tr>
                <td>@estudiante.IdEstudiante</td>
                <td>@estudiante.Nombre</td>
                <td>@estudiante.Edad</td>
                <td>@estudiante.Telefono</td>

                <td>
                    <a href="~/estudiante/editar/@estudiante.IdEstudiante" class="btn btn-warning">Editar</a>
                    <a href="~/estudiante/eliminar/@estudiante.IdEstudiante" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>

        }

    </table>
    <div class="text-right">
        <a href="~/estudiante/nuevo" class="btn btn-primary">Nuevo</a>
    </div>

</div>